<button class="btn btn-large btn-primary" type="submit" ng-show='loggedIn' ng-click="logout()">Logout</button>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="input-group">
  <span class="input-group-addon">TODO</span>
  <input type="text" class="form-control" placeholder="Add TODO text" ng-model='todo.text'>
</div>
<br/>
<br/>
    <span  class="nullable">
    <select ng-model="todo.priority" ng-options="p._id as p.name for p in priorities">
      <option value="">-- choose priority --</option>
    </select>
  </span><br/><br/>
  <datepicker ng-model='todo.dueDate' disable-timepicker='true' placeholder="Click to set due date"></datepicker>
  <button class="btn btn-large btn-primary" type="submit" ng-click="addTodo()">Add Todo</button>
  </div>
</div>

<div class="alert alert-danger" ng-show="message">{{ message }}</div>

<div class="panel panel-default" style="heigth: 800px;">
    <h4>My TODO's</h4>
  <ul>
    <!--<input type="search" ng-model="filterValue" placeholder="filter TODOs" />-->
    <a href="" ng-click="predicate = 'text'; reverse=!reverse">Order by Text</a> | 
    <a href="" ng-click="predicate = 'priority.order'; reverse=!reverse">Order by Priority</a> | 
    <a href="" ng-click="predicate = 'dueDate'; reverse=!reverse">Order by Due Date</a>
    <li ng-repeat="t in todos | orderBy:predicate:reverse">
      <input type="checkbox" ng-model="t.completed" ng-change="mark($index)"> <b>{{t.text}}</b> <span ng-show="t.priority">is {{ t.priority.name }} </span> <span ng-show="t.dueDate"> ends on {{ t.dueDate | date:'yyyy-MM-dd' }} </span>
    </li>
  </ul>
</div>